body {
  font-family: brush script mt;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }  
    * {
      box-sizing: border-box;
    }
    header {
      background-color: #AB9292;
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color: white;
    }
    
    section {
      display: -webkit-flex;
      display: flex;
    }
    nav {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background: #f1adadf3;
      padding: 20px;
      font-size: 14px;
      font-family: courier;
      font-family: brush script mt;
      float: left;
      height: 500px;
    }
    nav ul {
      list-style-type: none;
      padding: 0;
    }
    a:link {
      color: rgb(109, 45, 20);
    }
    a:visited {
      color: rgb(2, 7, 15);
    }
    a:hover {
      color: rgb(93, 165, 111);
    }
    a:active {
      color: rgb(255, 196, 0);
    }
    
    article {
      -webkit-flex: 3;
      -ms-flex: 3;
      flex: 3;
      background-color: #f1f1f1;
      border-style: dotted;
      text-align: center;
      
    }
    .arti {
      -webkit-flex: 3;
      -ms-flex: 3;
      flex: 3;
      background-color: #FCE5CD;
      padding: 10px;
      height: 500px;
    }
    
    footer {
      background-color: #786464;
      padding: 10px;
      text-align: center;
      color: white;
    }
    @media (max-width: 600px) {
      section {
        -webkit-flex-direction: column;
        flex-direction: column;
      }
    }
